In [13]:
print("Hola")

Hola

In [ ]:
pip install pandas

In [17]:
import numpy as np
import pandas as pd

In [19]:
s = np.array([1,2,3,4])
s

array([1, 2, 3, 4])

In [20]:
df= pd.DataFrame([s,s])
df

   0  1  2  3
0  1  2  3  4
1  1  2  3  4

In [21]:
print("otra rama")

otra rama